@using System.Threading.Tasks
@using RestfulRouting
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>New</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
@Html.Partial("Message")
<div>
    @using (Html.BeginForm(FormMethod.Post, new {action = "/another"}))
    {
        <input type="submit"/>
        @Html.Hidden("_method", HttpVerbs.Put)
    }
</div>
</body>
</html>